
@media (max-width: 1420px) {
    body {
        margin: 0;
    }
}

@media (max-width:1366px) {
    body {
        margin: 0;
    }
}

@media (max-width:$media-lg) {
    body {
        margin: 0;
    }
}

@media (max-width:$media-md) {
    body {
        margin: 0;
    }
}

@media (max-width:991px) {
    body {
        margin: 0;
    }
}

@media (max-width:$media-sm) {
    body {
        margin: 0;
    }
}

@media (max-width:$media-xs) {
    body {
        margin: 0;
    }
}
